{# BASED? BASED ON WHAT? #}
{% from 'common.html' import disp_user with context %}
<!DOCTYPE html>
<html>
    <head>
        <title>{%block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/md-colors.css">
        <link rel="icon" href="/static/ant.png">
    </head>
    <body>
        <nav aria-label="main" id="navbar">
			<p style="font-family: monospace;"><b>leptani</b><i>forum</i>&trade;</p>
			<form class="inline-form" action="/search">
				<input type="search" placeholder="query" name="q">
				<input type="submit" value="search">
			</form>

			<div class="links">

				<p><a href="{{url_for('index')}}">home</a></p>

				{% if g.user %}
				<p>{{ disp_user(g.user) }}</p>

				{% if is_admin %}
				<p><a href="{{url_for('admin.admin_page')}}">admin</a></p>
				{% endif %}
    				
				<p>
					<a href="{{url_for('auth.logout',next=path_for_next)}}">
						logout
					</a>
				</p>
				{% else %}
				<p>
					<a href="{{url_for('auth.login',next=path_for_next)}}">
						login
					</a>
				</p>
				<p>
					<a href="{{url_for('auth.register',next=path_for_next)}}">
						register
					</a>
				</p>
				{% endif %}

			</div>
        </nav>

        <div class="header">
        {% block header %}{% endblock %}
        </div>

        {% for msg in get_flashed_messages() %}
            <div class="flashmsg">{{ msg }}</div>
        {% endfor %}

        {% block nmcontent %}
        <main>
            {%block content %}{% endblock %}
        </main>
        {% endblock %}
    <script>/* bees */</script>
	<!-- citrons was here -->
	<!-- Complete hybridisation of various species of wild duck gene pools could result in the extinction of many indigenous waterfowl. -->
    </body>
</html>

