{% macro disp_user(username) -%} 
<a href="{{url_for('user.view_user',username=username)}}" class="username">{{username}}</a>
{%- endmacro %}

{% macro disp_post(post, buttons=False, forum=None, footer=None) %}
<div class="post {% if post.deleted %}deleted-post{% endif %}" id="post_{{post.id}}">
    <div class="post-heading">
        <span class="post-heading-a">
			{% if not post.deleted %}
				{{disp_user(post.author)}}
			{% else %}
				<span class="username">SCP-055</span>
			{% endif %}

			{% if forum != None %}
				{% set role = get_user_role(forum, post.author) %}
				{% if post.deleted %}
					<span class="user-role">
						(bureaucrat)
					</span>
				{% elif role != "other" %}
					<span class="user-role">
						({{ role }})
					</span>
				{% endif %}
			{% endif %}

			{{ts(post.created)}}

            {% if post.edited %}
                (edited {{ts(post.updated)}})
            {% endif %}
        </span>
        <span class="post-heading-b">
        {% if buttons and not post.deleted %}
			{% if post.author == g.user %}
				<a class="actionbutton"
				   href="{{url_for('thread.edit_post',post_id=post.id)}}">edit</a>
			{% endif %}
			{% if post.author == g.user or (forum and has_permission(forum, g.user, "p_delete_posts")) %}
				<a class="actionbutton"
				   href="{{url_for('thread.delete_post',post_id=post.id)}}">delete</a>
			{% endif %}
            <a class="actionbutton"
               href="{{url_for('thread.view_post',post_id=post.id)}}">src</a>
        {% endif %}
            
		<a class="post-anchor-link" href="{{post_jump(post.id)}}">#{{post.id}}</a>
        </span>
    </div>
    <div class="post-content md">
		{% if not post.deleted %}
			{{ post.content|md|safe }}
		{% else %}
			this post is anti-memetic. you do not remember it. please continue on.
		{% endif %}
    </div>
    {% if footer %}
    <div class="post-footer">
        {{ footer }}
    </div>
    {% endif %}
</div>
{% endmacro %}

{% macro ts(dt) -%}
<time title="{{dt.isoformat(' ')}}" datetime="{{dt.isoformat(' ')}}">{{dt | fuzzy}}</time>
{%- endmacro %}

{% macro tag(the_tag) -%}
<span class="tag" style="color: {{the_tag.text_colour}}; background-color: {{the_tag.bg_colour}}">{{the_tag.name}}</span>
{%- endmacro %}

{% macro ab(name,href) -%}
<a class="actionbutton" href="{{href}}">{{name}}</a>
{%- endmacro %}

{% macro breadcrumb() %}
<nav aria-label="Breadcrumb">
<ol class="breadcrumbs">
	{{- caller() -}}
</ol>
</nav>
{% endmacro %}

{% macro forum_bc_entries(forum_id) -%}
	{%- for f in forum_path(forum_id) -%}
		<li><a href="{{url_for('forum.view_forum',forum_id=f.id)}}">{{ f.name }}</a></li>
	{%- endfor %}
{%- endmacro %}

{% macro forum_breadcrumb(forum) %}
	{%- call breadcrumb() %}
		{{ forum_bc_entries(forum.id) }}
	{% endcall -%}
{% endmacro %}

{% macro thread_breadcrumb(thread) %}
	{%- call breadcrumb() %}
		{{ forum_bc_entries(thread.forum) }}
		<li>{{ thread.title }}</li>
	{% endcall -%}
{% endmacro %}

{% macro vote_meter(poll) %}
	{% set total_votes = poll.total_votes %}
	{% set n = namespace() %}
	{% set n.runningtotal = 0 %}
	<svg width="100%" height="15px" xmlns="http://www.w3.org/2000/svg">
	{% if total_votes == 0 %}
		<text text-anchor="middle" dominant-baseline="middle" x="11%" y="55%" fill="black" style="font-size:15px">no votes</text>
	{% else %}
		{% for opt in poll.options %}
		    {% set opt_count = opt.num or 0 %}
		    {% set colour = (loop.index|string + opt.text)|gen_colour %}
		    {% if opt_count != 0 %}
				{% set percentage = 100*(opt_count/total_votes) %}
				{# todo: do this in css somehow #}
				{% if opt.text|length > 10 %}
					{% set opt_text = opt.text[:7] + "..." %}
				{% else %}
					{% set opt_text = opt.text %}
				{% endif %}
				<rect y="0" height="100%" x="{{n.runningtotal}}%" width="{{percentage}}%" stroke="black" fill="{{colour}}" />
				<text text-anchor="middle" dominant-baseline="middle" y="55%" fill="black" style="font-size:15px" x="{{n.runningtotal+(percentage/2)}}%">
					{{opt_text}}: {{opt_count}}
				</text>
				{% set n.runningtotal = n.runningtotal + percentage %}
			{% endif %}
		{%  endfor %}
	{% endif %}
	<desc>
		poll: {{poll.title}}
		{% for opt in poll.options %}
		option "{{opt.text}}": {{opt.num or 0}} votes
		{% endfor %}
		total votes: {{total_votes}}
	</desc>
	</svg>
{% endmacro %}

{% macro pagination_nav(page,max_pageno,view) %}
<nav aria-label="pagination" id="pages">
	{% if page > 1 %}
	<a href="{{url_for(view,**kwargs)}}" aria-label="first page">&lt;&lt; first</a>
	<a href="{{url_for(view,page=page-1,**kwargs)}}" aria-label="previous page">&lt; prev</a>
	{% endif %}
	page {{page}} of {{max_pageno}}
	{% if page < max_pageno %} {# > #}
	<a href="{{url_for(view,page=page+1,**kwargs)}}" aria-label="next page">next &gt;</a>
	<a href="{{url_for(view,page=max_pageno,**kwargs)}}" aria-label="last page">last &gt;&gt;</a>
	{% endif %}
</nav>
{% endmacro %}
