{% extends 'base.html' %}
{% block header %}<h1>{% block title %}user settings{% endblock %}</h1>{% endblock %}
{% block content %}
<form method="post">
<fieldset>
<legend>change password</legend>
<label for="password">current password</label>
<input type="password" id="password" name="password"><br>
<label for="new_password">new password</label>
<input type="password" id="new_password" name="new_password">
</fieldset>
<fieldset>
<legend>change bio</legend>
<textarea class="new-post-box" name="bio" maxlength="4000">
	{{- user.bio or "leptaniform." -}}
</textarea>
</fieldset>
<p>confirm changes?</p>
<input type="submit" value="confirm">
<a href="{{url_for('user.view_user',username=user.username)}}">cancel</a>
</form>
{% endblock %}
