{% from 'common.html' import disp_post %}
{% extends 'base.html' %}
{% block header %}
<h1>{%block title%}viewing post{%endblock%}</h1>
{% endblock %}

{% block content %}
{{disp_post(post,False)}}
<p>post source:</p>
<textarea readonly class="new-post-box" name="newcontent">{{post.content}}</textarea>
<a href="{{post_jump(post.id)}}">this is satisfactory</a>
{% endblock %}
