/* Set light colors and default width */
:root {
	--bg: #FFFFDF;
	--fg: #2E2920;
	--link: #5C5240;
}

/* and dark colors */
@media screen and (prefers-color-scheme: dark) {
	:root {
		--bg: #2E2920;
		--fg: #FFFFDF;
		--link: #FFF5BF;
	}
}

body { font-family: sans-serif; word-wrap: break-word; }

:root {
    --alternating-colour-even: var(--bg);
    --alternating-colour-odd:  var(--bg);
}

.post { margin: 0px; }
.post:nth-child(even) { background-color: var(--alternating-colour-even) }
.post:nth-child(odd)  { background-color: var(--alternating-colour-odd) }
.post {
    border-left: 1px solid var(--fg);
    border-right: 1px solid var(--fg);
    border-top: 1px solid var(--fg);
    width: 100%
}
.post:last-of-type { border-bottom: 1px solid var(--fg); }

.post-heading,.post-footer { font-size: smaller; }
.post-heading,.post-footer,.username {
	color: var(--link);
}
.username {
    font-weight: bold;
    text-decoration: underline;
}
.post-heading-em { font-weight: bold; }
.post-content   * { margin-bottom: 8px; margin-top: 8px; }
.post-content > *:first-child { margin-top: 2px }
.post-content > *:last-child { margin-bottom: 0}
.post-content { padding: 4px }
.post-heading-a { margin-left: 0.2em }
.post-heading-b { float: right; margin-right: 0.5em }

.post-footer { margin-left: 0.2em; font-style: italic; }

.post-anchor-link { color: var(--link); }

.deleted-post {
	color: var(--bg);
	background-color: var(--fg) !important;
    border-left: 1px solid var(--fg);
    border-right: 1px solid var(--fg);
    border-top: 1px solid var(--fg);
}
.deleted-post > .post-heading > * {
	color: var(--bg);
}
.deleted-post > .post-heading > .post-heading-b > .post-anchor-link {
	color: var(--bg);
}
.deleted-post > .post-heading > .post-heading-a > .username {
	color: var(--bg);
}

.deleted-post > .post-footer {
	color: var(--bg);
}

.thread-top-bar, .user-top-bar {
    margin-bottom: 4px;
}

.thread-top-bar-b {
    float: right;
    margin-right: -2px;
}

.thread-top-bar-b .tag {
    font-size: .9rem;
}

.user_info {
    border: 1px solid var(--fg);
	background-color: var(--alternating-colour-even);
    width: 100%;
	padding: 4px;
}
.user_bio_quote { width: max-content; max-width: 100% }
.user_bio_attribution { text-align: right; font-style: italic; }

dt { font-weight: bold }


.un-col-1 { color: var(--link); }
.un-col-2 { color: var(--link); }
.un-col-3 { color: var(--link); }
.un-col-4 { color: var(--link); }
.un-col-5 { color: var(--link); }
.un-col-6 { color: var(--link); }
.un-col-7 { color: var(--link); }
.un-col-8 { color: var(--link); }
.un-col-9 { color: var(--link); }
.un-col-10 { color: var(--link); }
.un-col-11 { color: var(--link); }
.un-col-12 { color: var(--link); }
.un-col-13 { color: var(--link); }
.un-col-14 { color: var(--link); }
.un-col-15 { color: var(--link); }
.un-col-16 { color: var(--link); }

img { max-width: 100% }

nav#navbar {
	float: right;
	padding: 5px;
	margin: 2px;
	margin-bottom: 20px;
	border: 1px solid var(--fg);
	display:flex;
	align-items: center;
	flex-wrap: wrap;
}
nav#navbar p { margin-left: 15px; margin-top: 0; margin-bottom: 0; margin-right: 10px; padding: 0 }
nav#navbar p:first-of-type { margin-left:0.5em }
nav#navbar a { text-decoration: none }
nav#navbar .links { display: flex; }

nav#pages { text-align: center; margin-top: 2vh; margin-bottom: 2vh; }
nav#pages a { margin-left: 2vw; margin-right: 2vw; }
nav#pages .mid { margin-left: 5vw; margin-right: 5vw; }

/* todo: make the navbar less bad */
.flashmsg { border: 1px solid var(--fg); background-color: yellow; max-width: max-content; padding: 5px; clear: both;}

.listing:nth-child(even) { background-color: var(--alternating-colour-even) }
.listing:nth-child(odd) { background-color: var(--alternating-colour-odd) }

.listing {
    border-left: 1px solid var(--fg);
    border-right: 1px solid var(--fg);
    border-top: 1px solid var(--fg);
	padding: 10px;
}
.listing:last-of-type { border-bottom: 1px solid var(--fg); }
.listing-main {
	display: flex;
	align-items: center;
}
.listing-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	flex-grow: 1;
}

.thread-listing-tags {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
}
.thread-listing-tags .tag { margin-left: 5px; }
.thread-listing-creation {
	display: flex;
	margin-left: 5px;
	flex-wrap: nowrap;
}
.thread-listing-creator { margin-right: 5px; }
.listing-caption {
	overflow: hidden;
	font-size: smaller;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 10px;
}
.thread-preview-post a, .thread-preview-post a:visited {
	color: var(--fg);
	text-decoration: none;
}
.thread-preview-post { font-style: italic; }
.thread-preview-ts { font-weight: bold; }

.thread-vote-summary {
	margin-top: 4px;
	margin-bottom: -8px;
}

/* wide screens */
@media all and (min-width: 600px) {
	.listing-title { font-size: larger; }
}

/* small screens */
@media not all and (min-width: 600px) {
	.thread-listing-creation { font-size: small; }
	.thread-listing-creator {
		max-width: 75px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.actionbutton::before {
    content: "[";
    color: var(--fg);
}
.actionbutton::after {
    content: "]";
    color: var(--fg);
}
.actionbutton {
	color: var(--link);
	white-space: nowrap;
}

.new-post-box, .forum-desc-box {
    height:20em;
    resize:vertical;
    width:100%;
    border:1px solid var(--fg);
    margin-top: 5px;
}

#polloptions {
	display: block;
	resize: vertical;
    border:1px solid var(--fg);
    margin-top: 5px;
	height: 5em;
	width: 100%;
	font-family: sans-serif;
}

main {
    max-width: 60ch;
    margin: auto;
}

blockquote {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 3px solid var(--fg);
}

label { user-select: none; }

fieldset { margin-bottom: 15px; }

.warning { color: red; font-weight: bold }

.inline-form {
    display: inline-block;
}

.tag {
    font-size: .75rem;
    padding: 1px 3px;
    border: 1px solid var(--fg);
	white-space: nowrap;
}

.md table {
    border: 1px solid var(--fg);
    border-collapse: collapse;
}
.md table td,.md table th {
    border: 1px solid var(--fg);
    padding: 4px;
}

.role-input, .name-input { width: 12ch; }

.thing-id { color: var(--fg); font-size: smaller; font-weight: normal; }

.breadcrumbs {
    list-style: none;
}

.breadcrumbs li {
    display: inline;
}

.breadcrumbs li+li::before {
    content: "/\00a0";
    padding: 8px;
}

body, input, button, textarea {
	background-color: var(--bg);
	color: var(--fg);
	font-family: monospace,sans-serif;
}
input[type="search"] {
	border: 1px solid var(--fg) !important;
	background-color: var(--bg) !important;
	color: var(--fg) !important;
	font-family: monospace,sans-serif;
	appearance: unset;
	padding: 2px;
}
button, input, textarea {
	border: 1px solid var(--fg);
}
img {
	filter: sepia(1);
}
a, a:visited {
	color: var(--link);
}
	/* Add a retro terminal effect */
	body::after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		pointer-events: none !important;
		background: repeating-linear-gradient(
		0deg,
		rgba(0,0,0,0.25),
		rgba(0,0,0,0.25) 1px,
		transparent 1px,
		transparent 2px
		);
	}
.flashmsg {
	background-color: var(--link);
	color: var(--bg);
}